@import "~taro-ui/dist/style/components/icon.scss";

.title {
  position: relative;
  line-height: 80rpx;
  width: 100%;
  .title-text {
    font-size: 32rpx;
  }
  .title-icon {
    margin-bottom: 4rpx;
    padding: 0 14rpx;
    width: 40rpx;
    height: 40rpx;
    vertical-align: middle;
  }
}

.content {
  display: flex; 
  flex-direction:row;
  .flex-item {
    width: 25%; 
    height: 200rpx;
    border: 2rpx solid #eee;
  }
}