{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "jsx-quotes": [0],
    "react/jsx-curly-spacing": [0],
    "react/jsx-closing-bracket-location": [0],
    "taro/props-reserve-keyword": [0],
    "react/forbid-elements": [0]
  },
    "parser": "babel-eslint"
  }
